header {
  background: var(--second-color);
  overflow: hidden;

  &::after {
    content: "";
    background-color: var(--pseudo-color);
    width: 108vw;
    height: 108vw;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    transform: translate(50%, -70%);

    @include responsive(xl) {
      width: 1296px;
      height: 1296px;
    }
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    .burger__line {
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &.opened .burger__line:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
      background-color: var(--second-color);
    }

    &.opened .burger__line:nth-child(2) {
      opacity: 0;
    }

    &.opened .burger__line:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
      background-color: var(--second-color);
    }

    @include responsive(md) {
      display: none;
    }
  }

  &__menu {
    z-index: 2;
    @media (max-width: $max) {
      height: 100vh;
      padding: 3rem 1rem;
      width: 30%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(110%);

      background-color: var(--main-color);
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.65);
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.65);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.65);
    }

    @include responsive(md) {
      display: flex;
      gap: 1.25rem;
    }

    &.opened {
      transform: translateX(0);
    }
  }

  &__links {
    font-weight: 600;
    @include responsive(md) {
      display: flex;
      color: var(--main-color);
      gap: 1.25rem;
    }
  }
}
