header {
  background: var(--second-color);
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  @include responsive(md) {
    padding-top: 3.5rem;
    padding-bottom: 4rem;
  }

  &::after {
    content: "";
    background-color: var(--pseudo-color);
    width: 108vw;
    height: 108vw;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    transform: translate(52%, -63%);

    @include responsive(xl) {
      width: 1296px;
      height: 1296px;
    }
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    color: var(--main-color);
    &__brand-element {
      background-color: var(--accent-color);
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;

    .burger__line {
      @extend .animate;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &.opened .burger__line:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
      background-color: var(--second-color);
    }

    &.opened .burger__line:nth-child(2) {
      opacity: 0;
    }

    &.opened .burger__line:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
      background-color: var(--second-color);
    }

    @include responsive(md) {
      display: none;
    }
  }

  &__menu {
    @extend .animate;
    z-index: 10;
    @media (max-width: $max) {
      text-align: center;
      height: 100vh;
      padding: 6rem 1.5rem;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(110%);

      background-color: var(--main-color);
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.65);
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.65);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.65);
    }

    @include responsive(md) {
      display: flex;
      gap: 2.5rem;
      align-items: center;
    }

    &.opened {
      transform: translateX(0);
    }
  }

  &__login {
    &:hover {
      color: var(--main-color);
    }
    @include responsive(md) {
      background-color: var(--main-color);
      outline: transparent;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: var(--second-color);
    margin-bottom: 1.5rem;
    gap: 1.5rem;
    @include responsive(md) {
      flex-direction: row;
      margin-bottom: 0;
      color: var(--main-color);
      gap: 2.5rem;
    }
  }

  &__link-item:hover {
    color: var(--accent-color);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
  margin-top: 4rem;
  color: var(--main-color);

  @include responsive(xl) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.hero-tagline {
  @include responsive(xl) {
    width: 46%;
  }
  &__heading {
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 2.5rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @include responsive(sm) {
      display: flex;
      flex-direction: row;
      column-gap: 1.5rem;
    }
  }

  &__button:hover {
    color: var(--second-color);
  }
}

.hero-charts {
  display: none;

  @include responsive(xl) {
    display: block;
    width: 41%;
  }

  ul {
    display: grid;
    grid-template-columns: 0.425fr 0.575fr;
    grid-template-rows: 0.6fr 0.4fr;
    grid-column-gap: 2.3rem;
    grid-row-gap: 1.64rem;
  }

  li:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  li:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  li:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.slider-header {
  display: none;
  @include responsive(md) {
    display: block;
  }
}
