:root {
  --main-color: #ffffff;
  --second-color: #0a2640;
  --accent-color: #69e6a6;
  --pseudo-color: #1c3d5b;
  --main-text-color: #000000;
  --second-text-color: #ffffff;
  --mute-text-color: #777777;
  --brand-color: #69e6a6;
}
